services:
  db:
    image: postgres:16-alpine
    container_name: transtex_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: transtex
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
volumes:
  pg_data:


