{% extends "base.html" %}

{% block content %}
<form action="{% url 'accounts:subscribe' %}" method="post" id="payment-form">
  {% csrf_token %}
  {{ form.as_p }}
  <div id="card-element"></div> 
  <button type="submit">Subscribe</button>
</form>

<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('{{ stripe_publishable_key }}');
  var elements = stripe.elements();
  var card = elements.create('card');
  card.mount('#card-element');

  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();
    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Handle error here
      } else {
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripe_token');
        hiddenInput.setAttribute('value', result.token.id);
        form.appendChild(hiddenInput);
        form.submit();
      }
    });
  });
</script>
{% endblock %}
