{% extends 'accounts/mach/mach_portal_base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Customize Invoice
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4 text-center">Customize Invoice</h2>
    <div class="row justify-content-center">
        <!-- Form fields centered on the page -->
        <div class="col-md-6">
            <form id="customize-form" method="post" action="{% url 'accounts:customize_invoice' %}" class="customize-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field|as_crispy_field }}
                    </div>
                {% endfor %}
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <button type="submit" name="reset" value="true" class="btn btn-secondary">Reset to Default</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
